@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: #242424;
    letter-spacing: 0.5px;
    color: #000000;
}


.profile{
    flex: 10;
    margin-right: 10px;
    background-color: rgb(31, 30, 30);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    height: max-content;
}

.profile-header{
    display: flex;
    margin-left: 15px;
}

.profile-img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
}

.profile-text-container{
    line-height: 2.5;
}

.profile-title{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}



.account{
    flex: 2;
    margin-left: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    height: max-content; 
}

.account-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #768499;
}

.account-title{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    margin-left: 10px;
}

.btn-comtainer{
    margin-right: 5px;
}

.btn-cancel{
    width: 8em;
    height: 3em;
    cursor: pointer;
    border: 1px solid #768499;
    border-radius: 2em;
    color: #1e293b;
    font-weight: bold;
    margin-right: 1px;
    background-color: #fff;
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.btn-cancel:hover{
    background-color: #f1f5f9;
}

.btn-save{
    width: 8em;
    height: 3em;
    cursor: pointer;
    border: 1px solid #458ff6;
    border-radius: 2em;
    color: #fff;
    font-weight: bold;
    margin-left: 1px;
    background: linear-gradient(45deg, #ffd700, #ffd900);;
    transition: background 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.btn-save:hover{
    background: linear-gradient(45deg, #ffd900, #ffffff); 
}

.btn-back{
    width: 8em;
    height: 3em;
    cursor: pointer;
    border: 1px solid #768499;
    border-radius: 2em;
    color: #1e293b;
    font-weight: bold;
    margin-right: 5px;
    background-color: #fff;
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.form-container {
    background: linear-gradient(rgba(100, 100, 150, 0.7), rgba(255, 215, 0, 0.5)); 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.account-edit{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.input-container label{
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-size: 14px;
}

.input-container input{
    height: 25px;
    border: 1.5px solid #768499;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: slategray;
    color: gold;
    font-family: "Poppins", sans-serif;
}

.input-container input:focus{
    outline: none;
    border: 1.5px solid #536dfe;
}

.input-container textarea{
    display: block;
    width: 100%;
    height: 100%;
    background-color: slategray;
    padding: 10px 15px;
    border: 1.5px solid #ffffff;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    color: gold;
}

.input-container textarea{
    outline: none;
    border: 1.5px solid #536dfe;
}

@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
    }

    .profile{
        margin-bottom: 20px;
        margin-right: 0;
    }

    .account{
        margin: 0;
    }

    .account-header{
        flex-direction: column;
    }

    .account-edit{
        flex-direction: column;
        margin: 10px;
        
    }

    .input-container{
        max-width: 10px;
    }

    .input-container input{
        margin-right: 10px;
    }

    .input-container textarea{
        display: block;
        width: auto;
        margin-right: 10px;
    }
}