@{
    ViewData["Title"] = "Success";
    var username = TempData["Username"] as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitnessFormula Dashboard</title>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styling.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
    <body>


        <div class="sidebar">
            <a href="#" class="logo">
                <img src="~/images/NewFitnessFormula.png" alt="">
            </a>
            <div class="profile">
                <button class="profile-btn">
                    <div class="profile-img">
                        <img src="~/images/user.jpg" alt="">
                    </div>
                </button>
                <div class="name">
                    <h1>@username</h1>
                    <img src="" alt="">
                </div>
                <span></span>
            </div>
            <div class="about">
                <div class="box">
                    <h3></h3>
                    <span></span>
                </div>
                <div class="box">
                    <h3></h3>
                    <span></span>
                </div>
                <div class="box">
                    <h3></h3>
                    <span></span>
                </div>
            </div>
            <div class="menu">
                <a href="#" class="active">
                    <span class="icon">
                        <i class="ri-function-line"></i>
                    </span>
                    Categories
                </a>
            <a asp-controller="Workout" asp-action="MyWorkouts">
                    <span class="icon">
                        <i class="ri-run-line"></i>
                    </span>
                    My Workouts
                </a> 
            <a asp-controller="User" asp-action="Settings">
                    <span class="icon">
                        <i class="ri-settings-line"></i>
                    </span>
                    Settings
                </a>
            </div>
        </div>

        <div class="main-home">
            <div class="header">
            <div class="search">
                <i class="ri-search-line"></i>
                <form asp-controller="Workout" asp-action="SearchWorkouts" method="get" style="display: inline;">
                    <input id="searchInput" type="text" name="workoutName" placeholder="Search..." required>
                    <button type="submit" class="btn">Search</button>
                </form>
            </div>

            <div id="workoutsList">
                <!-- Workouts will be displayed here -->
            </div>
                <div class="header-content">
                    <button class="icon-btn">
                        <i class="ri-notification-4-line"></i>
                    </button>
                    <i class=""></i>
                <a asp-controller="User" asp-action="Logout" class="btn">
                        <i class="ri-home-line"></i>
                        <div class="btn-text">Logout</div>
                    </a>
                </div>
            </div>
            <div class="">
                <h1></h1>
                <a href="#" class="btn">
                    <i class=""></i>
                    <div class="text"></div>
                </a>
            </div>
            <div class="feed">
                <h1>Categories</h1>
                <div class="feed-text">
                    <h2></h2>
                    <span></span>
                </div>
            </div>
            <div class="main-categories">
            <a asp-controller="Workout" asp-action="StrengthView" class="post-box">
                <h1>Strength</h1>
                <img src="~/images/strength.jpg" alt="">
            </a>
            <a href="~/Home/HIITView" class="post-box">
                <h1>HIIT</h1>
                <img src="~/images/hiit.jpg" alt="">
            </a>
            <a href="~/Home/FunctionalView" class="post-box">
                <h1>Functional</h1>
                <img src="~/images/functional.jpg" alt="">
            </a>
            <a href="~/Home/FlexibilityView" class="post-box">
                <h1>Flexibility</h1>
                <img src="~/images/flexibility.jpg" alt="">
            </a>
            </div>
        </div>
    <script src="~/js/search.js"></script>
    </body>
</html>