<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="/css/lp_style.css" />
    <script src="https://kit.fontawesome.com/dd9af7210e.js" crossorigin="anonymous"></script>
    <title>FitnessFormula | Landing Page</title>
</head>
<body>
    <nav>
        <div class="nav__header">
            <div class="nav__logo">
                <a href="#">
                    <img src="/images/NewFitnessFormula.png" alt="Logo" class="nav__logo-image" />
                </a>
            </div>
            <div class="nav__menu__btn" id="menu-btn">
                <i class="ri-menu-line"></i>
            </div>
        </div>
        <ul class="nav__links" id="nav-links">
            <li><a href="#" class="nav-link login-link">Login</a></li>
            <li><a href="#about-us" class="nav-link about-link">About Us</a></li>
            <li><a href="#features" class="nav-link features-link">Features</a></li>
            <li><a href="#team" class="nav-link team-link">Our Team</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="container__left">
            <h1>Formula for Fitness, Recipe for Success</h1>
            <div class="container__btn">
                <a asp-controller="User" asp-action="Logout" class="btn">
                    Get Started
                </a>
            </div>
        </div>
        <div class="container__right">
            <div class="images">
                <img src="/images/getups.jpg" alt="getups" class="getups" />
                <img src="/images/image-2.jpg" alt="image-2" class="image-2" />
            </div>
            <div class="content">
                <h4></h4>
                <h2>OUR MISSION</h2>
                <h3></h3>
                <p>
                    Welcome to FitnessFormula - Formula for Fitness, Recipe for Success


                    Are you tired of juggling multiple apps for your fitness needs?
                    FitnessFormula is here to revolutionize your fitness journey. We
                    understand that maintaining consistency and motivation can be challenging
                    without the right tools. That's why we've created a comprehensive platform
                    that seamlessly integrates workout tracking and personalized fitness plans.
                    Say goodbye to fragmented fitness solutions and hello to a holistic approach
                    that puts your overall wellness first. Join us and transform your fitness
                    journey with us.
                    FitnessFormula - where your goals are our mission
                </p>
            </div>
        </div>
        <div class="socials">
            <span>
                <a href="#"><i class="ri-facebook-fill"></i></a>
            </span>
            <span>
                <a href="#"><i class="ri-instagram-line"></i></a>
            </span>
            <span>
                <a href="#"><i class="ri-twitter-fill"></i></a>
            </span>
        </div>
    </div>

    <div id="new-section" class="new-section">
        <h2>Features</h2>
        <p>What we offer</p>
        <div class="features-imgs">
            <img src="/images/dashboard.png" alt="feature" class="feature" />
        </div>
        <div class="text-box">
            <div class="left-text">
                <p>
                    Our interactive dashboard provides you
                    with a wide variation of exercise categories.
                    We offer Strength, HIIT, Functional and Flexibility
                    programs to suit your fitness goals.
                </p>
                <div class="text-box-2">
                    <div class="left-text-2">
                        <P>
                            Create custom workouts to suit your specific exercise goals.
                            This feature enables the user to select the category, level of
                            difficulty, the amount of reps, sets and duration. All this is then
                            saved onto the My Workouts tab.
                        </P>
                    </div>
                </div>
                <div class="text-box-3">
                    <div class="left-text-3">
                        <p>
                            Use the search bar to choose between our wide array of industry competitive workout programs
                            We have programs that target different aspects of fitness, from squats to arm workouts like
                            bicep curls.
                        </p>
                    </div>
                </div>
                <div class="custom-workout">
                    <img src="/images/create-workout.png" alt="create-workout" class="create-workout" />
                </div>
            </div>
            <div class="workout-container">
                <div class="workout-imgs">
                    <img src="/images/workout-selection.png" alt="workout-selection" class="workout-selection" />
                </div>
            </div>
        </div>
    </div>
    <section id="about-us">
        <h1 class="heading">
            <i class="fas fa-eye"></i><strong>About Us</strong>
        </h1>
        <p>
            The inspiration for FitnessFormula stemmed from a common frustration shared by many fitness enthusiasts and beginners alike:
            the fragmented approach to fitness and wellness management. Observing individuals around us, we noticed a recurring theme of
            struggle to maintain consistency and motivation in their fitness journeys. The primary challenge was the absence of a unified
            tool that could comprehensively track and guide various aspects of their fitness routines.

            Most existing solutions focus narrowly on either exercise tracking or diet planning, leaving users to juggle multiple apps and
            tools to get a holistic view of their progress. This fragmented approach often leads to confusion, lack of motivation, and ultimately,
            inconsistency in fitness efforts.

            FitnessFormula was conceived to bridge this gap by offering an integrated platform that not only tracks workouts but also provides
            personalized workout plans and nutrition advice. Our goal was to create a seamless experience that considers the overall fitness and wellness
            of the user, making it easier for individuals to stay on track, stay motivated, and achieve their fitness goals more efficiently.

            In essence, FitnessFormula was inspired by the need for a more structured, comprehensive, and user-friendly approach to fitness and wellness,
            aiming to transform how people manage their fitness journeys.

        </p>
    </section>
    <section id="team">
        <h1 class="heading">
            <i class="fas fa-rocket"></i><strong>Our Team</strong>
        </h1>
        <div class="container">
            <div class="box">
                <div class="top-bar"></div>
                <div class="nav">
                    <i class="verify fas fa-check-circle"></i>
                    <input type="checkbox" class="heart-btn" id="heart-btn-1">
                    <label for="heart-btn-1" class="heart"></label>
                </div>

                <div class="details">
                    <img src="/images/profile-1.jpg" alt="profile-1">
                    <strong>Khehla (MK) Dlamini</strong>
                    <p>dlaminimkultra@gmail.com</p>
                    <strong>Frontend Developer</strong>
                </div>

                <div class="btn">
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div class="box">
                <div class="top-bar"></div>
                <div class="nav">
                    <i class="verify fas fa-check-circle"></i>
                    <input type="checkbox" class="heart-btn" id="heart-btn-2">
                    <label for="heart-btn-2" class="heart"></label>
                </div>

                <div class="details">
                    <img src="/images/profile-2.JPG" alt="profile-2">
                    <strong>Aerin Lombard</strong>
                    <p>aerinlom1@gmail.com</p>
                    <strong>Backend Developer</strong>
                </div>

                <div class="btn">
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </section>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/js/main.js"></script>
</body>
</html>