@{
    ViewData["Title"] = "Success";
    var username = TempData["Username"] as string; // Retrieve username from TempData
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitnessFormula Dashboard</title>
    <link rel="stylesheet" href="styling.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>


    <div class="sidebar">
        <a href="#" class="logo">
            <img src="" alt="">
        </a>
        <div class="profile">
            <button class="profile-btn">
                <div class="profile-img">
                    <img src="user.jpg" alt="">
                </div>
            </button>
            <div class="name">
                <h1>Calvin</h1>
                <img src="" alt="">
            </div>
            <span></span>
        </div>
        <div class="about">
            <div class="box">
                <h3></h3>
                <span></span>
            </div>
            <div class="box">
                <h3></h3>
                <span></span>
            </div>
            <div class="box">
                <h3></h3>
                <span></span>
            </div>
        </div>
        <div class="menu">
            <a href="#" class="active">
                <span class="icon">
                    <i class="ri-function-line"></i>
                </span>
                Categories
            </a>
            <a href="#">
                <span class="icon">
                    <i class="ri-run-line"></i>
                </span>
                Workouts
            </a>
            <a href="#">
                <span class="icon">
                    <i class="ri-bar-chart-line"></i>
                </span>
                History
            </a>
            <a href="#">
                <span class="icon">
                    <i class="ri-settings-line"></i>
                </span>
                Settings
            </a>
        </div>
    </div>

    <div class="main-home">
        <div class="header">
            <div class="search">
                <i class="ri-search-line"></i>
                <input type="text" placeholder="search">
            </div>
            <div class="header-content">
                <button class="icon-btn">
                    <i class="ri-notification-4-line"></i>
                </button>
                <i class=""></i>
                <a href="#" class="btn">
                    <i class="ri-home-line"></i>
                    <div class="btn-text">Logout</div>
                </a>
            </div>
        </div>
        <div class="">
            <h1></h1>
            <a href="#" class="btn">
                <i class=""></i>
                <div class="text"></div>
            </a>
        </div>
        <div class="feed">
            <h1>Categories</h1>
            <div class="feed-text">
                <h2></h2>
                <span></span>
            </div>
        </div>
        <div class="main-categories">
            <button class="post-box">
                <h1>strength</h1>
                <img src="strength.jpg" alt="">
                <div class="post-info">
                    <div class="post-profile">
                        <div class="post-img">
                            <img src="" alt="">
                        </div>
                        <h3></h3>
                    </div>
                    <div class="">
                        <i class=""></i>
                        <span></span>
                        <i class=""></i>
                        <span></span>
                    </div>
                </div>
            </button>
            <button class="post-box">
                <h1>HIIT</h1>
                <img src="hiit.jpg" alt="">
                <div class="post-info">
                    <div class="post-profile">
                        <div class="post-img">
                            <img src="" alt="">
                        </div>
                        <h3></h3>
                    </div>
                    <div class="">
                        <i class=""></i>
                        <span></span>
                        <i class=""></i>
                        <span></span>
                    </div>
                </div>
            </button>
            <button class="post-box">
                <h1>functional</h1>
                <img src="functional.jpg" alt="">
                <div class="post-info">
                    <div class="post-profile">
                        <div class="post-img">
                            <img src="" alt="">
                        </div>
                        <h3></h3>
                    </div>
                    <div class="">
                        <i class=""></i>
                        <span></span>
                        <i class=""></i>
                        <span></span>
                    </div>
                </div>
            </button>
            <button class="post-box">
                <h1>Flexibility</h1>
                <img src="flexibility.jpg" alt="">
                <div class="post-info">
                    <div class="post-profile">
                        <div class="post-img">
                            <img src="" alt="">
                        </div>
                        <h3></h3>
                    </div>
                    <div class="">
                        <i class=""></i>
                        <span></span>
                        <i class=""></i>
                        <span></span>
                    </div>
                </div>
            </button>
        </div>
    </div>

</body>
</html>
