@model FitnessFormulaMVP.Models.LoginModel

@{
    ViewData["Title"] = "Successfully Logged In!";
}

<style>
    /* Centering the h1 element */
    h1 {
        color: yellow;
        text-align: center; /* Center-align the text */
    }
</style>

<h1>Wrong password or username</h1>
